---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.main-header {
	&.post-head {
		.main-nav {
			background-color: #f37021;
			a {
				color: #ffffff;
			}
		}
	}

	.main-nav {
		h5 {
			display: inline-block;
			color: #ffffff;
			margin: 0;
			line-height: 38px;
		}	
	}
}

.author-image {
    box-shadow: #717171 0 0 0 1px;
}

.post-footer {
    border-top: #717171 1px solid;
}

.post-meta {
    margin: 1.75rem 0 1rem 0;
}

.post-date {
    margin-left: 0;
}

.post-content img {
	box-shadow: 0px 1px 8px 0px #000000;
	padding: 0;
}

.read-more {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: bold;
}

.post-excerpt {
	img {
		max-width: 75rem;
	}
}
